* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  text-align: justify;
}

.grow {
  flex: 1 1;
}

.fit-width {
  width: 100%;
}

.fit-height {
  height: 100%;
}

@mixin hoverable {
  transition: background 0.25s $easing;
  &:hover {
    background: rgba(black, 0.1);
  }
}
