$nav-height: 4rem;

nav {
  display: flex;
  align-items: center;
  background: linear-gradient(to right, $gradient-blue);

  height: $nav-height;

  & > img {
    padding: 0.5rem;
  }
}

#socials-button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;

  width: $nav-height;
  height: $nav-height;

  font-weight: bold;

  transition: background 0.25s $easing;
  background: rgba(black, 0.1);
  &:hover {
    background: rgba(black, 0.2);
  }
}

#socials {
  position: absolute;

  right: 0;
  top: $nav-height;

  display: flex;
  flex-direction: column;
  background: linear-gradient(to bottom, $gradient-red);

  width: $nav-height;

  a {
    padding: 0.5rem;
    @include hoverable();
  }

  transition: clip-path 0.25s $easing;
  clip-path: inset(0 0 100% 0);
  &.open {
    clip-path: inset(0);
  }
}

@keyframes loading {
  from {
    transform: translateX(-200%);
  }

  to {
    transform: translateX(200%) rotate(1turn);
  }
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  color: gray;
  font-size: small;

  div {
    width: 1rem;
    height: 1rem;
    background: linear-gradient(to bottom right, $gradient-red);
    animation: loading 1s infinite alternate cubic-bezier(0.8, 0, 0.2, 1);
  }
}
