mixin section(title)
  section
    h2= title
    .content
      block

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")

    meta(property="og:site_name", content="CEO Almagro")
    meta(property="og:url", content="https://ceoalmagro.github.io/")
    meta(property="og:title", content="CEO Almagro")
    meta(property="og:type", content="website")
    meta(property="og:description", content="Pagina oficial del Centro de Estudiantes de ORT Almagro")

    link(rel="stylesheet", href="style.scss")
    title CEO Almagro
  body
    header
      h1 Centro de Estudiantes de ORT Almagro
    +section("Quiénes Somos")
      p Somos los mayores gamers del universo
    +section("Comisiones")
      ul
        li A
        li B
        li C
        li D
        li E
