mixin link(href)
  a(href=href, target="_blank", rel="noopener noreferrer"): block

mixin section(title)
  section
    .title: h2: =title
    block

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")

    meta(property="og:title", content="CEO Almagro")
    meta(property="og:description", content="Pagina oficial del Centro de Estudiantes de ORT Almagro")
    meta(property="og:url", content="https://ceoalmagro.github.io/")

    link(rel="icon", href="assets/favicon/favicon_16.png", sizes="16x16")
    link(rel="icon", href="assets/favicon/favicon_32.png", sizes="32x32")
    link(rel="icon", href="assets/favicon/favicon_48.png", sizes="48x48")
    link(rel="stylesheet", href="style.scss")

    title CEO Almagro
  body
    nav
      img.fit-height(src="assets/logo.svg", alt="CEO")
      h2 Centro de Estudiantes ORT
      .grow
      #socials-button Redes
        #socials
          +link("https://forms.gle/sMzyYCNEoPdpJ1if8"): img.fit-width(src="assets/socials/whatsapp.svg", alt="WhatsApp")
          +link("https://www.instagram.com/ceoalmagro/"): img.fit-width(src="assets/socials/instagram.svg", alt="Instagram")
          +link("https://github.com/ceoalmagro/"): img.fit-width(src="assets/socials/github.svg", alt="Github")
    main
      +section("Quienes Somos?")
        p El centro de estudiantes es una organización horizontal cuyo objetivo es hacer oír la voz del estudiantado. Esta formado por todxs lxs alumnxs del ciclo básico y de las orientaciones.
        p Funcionamos como una democracia directa: Cualquier decisión del centro se hace mediante una votación en asamblea, en la cual cualquier miembro puede votar, y todos tienen el mismo poder de voto.
      +section("Asambleas")
        p El principal espacio del centro para compartir, debatir, votar, y llevar a cabo ideas es la asamblea. Todos los lunes al mediodia (en la hora del almuerzo) hay una asamblea en el aula 2201, y cualquier miembro del alumnado puede asistir para poder ayudar a llevar el centro adelante.
      +section("Próximos Eventos")
        #events
    script(src="script.js")
