mixin section(title)
  section
    h2= title
    .content
      block

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")

    meta(property="og:site_name", content="CEO Almagro")
    meta(property="og:url", content="https://ceoalmagro.github.io/")
    meta(property="og:title", content="CEO Almagro")
    meta(property="og:type", content="website")
    meta(property="og:description", content="Pagina oficial del Centro de Estudiantes de ORT Almagro")

    link(rel="stylesheet", href="style.scss")
    title CEO Almagro
  body
    header
      h1 Centro de Estudiantes de ORT Almagro
    +section("Quiénes Somos")
      p El centro de estudiantes es una organización horizontal cuyo objetivo es hacer oír la voz del estudiantado. Esta formado por todxs lxs alumnxs del ciclo básico y de las orientaciones.
      p El centro es una democracia directa: Cualquier decisión del centro se hace mediante una votación en asamblea, en la cual cualquier miembro puede votar, y todos tienen el mismo poder de voto.
    +section("Redes Sociales")
      ul
        li: a(href="https://www.instagram.com/ceoalmagro/") Cuenta de Instagram
        li: a(href="https://chat.whatsapp.com/BIzrXWvz3E3EsStmwsSrZl") Grupo de WhatsApp
    +section("Comisiones")
      p Lxs estudiantes tienen el derecho de crear Comisiones de Trabajo Estables o Momentáneas a partir de la propuesta y aprobación en Asamblea. Todx miembro del C.E.O. puede participar en cualquier comisión de trabajo independientemente del cargo que ocupe.
      ul
        li
          a(href="https://chat.whatsapp.com/1hl8a8Lril45BHv8L1fPpv") Comisión Genero:
          span  Está constituida por mujeres y disidencias de género que conforman el estudiantado; cualquier hombre puede escuchar y brindar su opinión entendiendo su posición pero no tiene voto ni poder de decisión. Es un espacio de acompañamiento en temas relacionados a violencia de género institucional o entre el alumnado, la propuesta de temas y debates que hacen alusión a este colectivo y la convocatoria de dichas marchas y/o concentraciones.
        li
          a(href="https://chat.whatsapp.com/GZKJHCHBFjjCchHKgSHLdh") Comisión Difusión:
          span  Se encarga de comunicar y difundir las decisiones, resoluciones y decretos elevados por el C.E.O. a todo el alumnado. Es responsable de la revista, como así también de las páginas oficiales del C.E.O. en las redes sociales y virtuales utilizadas.
        li: a(href="https://chat.whatsapp.com/3cSWmwqDrGwJnJ1qubqAEb") Comisión Charla-Debate
        li: a(href="https://chat.whatsapp.com/4WZ0SZhV6sZA2GjzBlcyRv") Comisión Festifeo
        li: a(href="https://chat.whatsapp.com/LqftX1SgbUe1dODbOjPD9C") Comisión Varones
        li: a(href="https://chat.whatsapp.com/GMI3dCVwfT61m7ljLok4OJ") Comisión Historia
        li: a(href="https://chat.whatsapp.com/JbzgxAmoMsl8Bod77TLNFb") Comisión Torneos
        li: a(href="https://chat.whatsapp.com/ByoiIFaU5SFDXV99RmBNmZ") Comisión Revista
        li: a(href="https://chat.whatsapp.com/FNrqCNu0N1wLAbSPFp6nY2") Comisión Estatuto
