@import "generic";
@import url("https://code.cdn.mozilla.net/fonts/zilla-slab.css");

$font-stack: Cambria, "Hoefler Text", Utopia, "Liberation Serif",
  "Nimbus Roman No9 L Regular", Times, "Times New Roman", serif;
$gradient-red: #ff0039, #ff9400;
$gradient-blue: #45a1ff, #c069ff;

body {
  margin: 0;
  font-family: "Zilla Slab", $font-stack;
}

nav {
  display: flex;
  align-items: center;
  background: linear-gradient(to right, $gradient-blue);

  // Firefox makes this super easy with gap, but all the other browsers dont
  // so i have to do all these dumb css shenanigans >:(
  padding: 1ch;
  & > * {
    margin: 0.5ch;
  }

  img {
    height: 3rem;
  }
}

main {
  padding: 1rem;
  margin: auto;
  max-width: $medium;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;

  h2 {
    font-size: 2rem;
    font-family: "Zilla Slab", $font-stack;
    background: linear-gradient(to right, $gradient-red);
    color: white;
  }
}
