@import "generic";
@import url("https://code.cdn.mozilla.net/fonts/zilla-slab.css");

$nav-size: 4rem;
$font-stack: Cambria, "Hoefler Text", Utopia, "Liberation Serif",
  "Nimbus Roman No9 L Regular", Times, "Times New Roman", serif;
$gradient-red: #ff0039, #ff9400;
$gradient-blue: #45a1ff, #c069ff;
$gradient-green: #30e60b, #ffe900;

body {
  margin: 0;
  font-family: "Zilla Slab", $font-stack;
}

nav {
  display: flex;
  align-items: center;
  background: linear-gradient(to right, $gradient-blue);

  height: $nav-size;

  & > img {
    padding: 0.5rem;
  }
}

.socials-button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;

  width: $nav-size;
  height: $nav-size;

  font-weight: bold;

  transition: background 0.25s $easing;
  background: rgba(black, 0.1);
  &:hover {
    background: rgba(black, 0.2);
  }

  & + .socials {
    transition: clip-path 0.25s $easing;
    clip-path: inset(0 0 100% 0);
  }

  &:hover + .socials {
    clip-path: inset(0);
  }
}

.socials {
  position: absolute;

  right: 0;
  top: $nav-size;

  display: flex;
  flex-direction: column;
  background: linear-gradient(to bottom, $gradient-red);

  width: $nav-size;

  &:hover {
    clip-path: inset(0);
  }

  a {
    padding: 0.5rem;
    @include hoverable();
  }
}

main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30ch, 1fr));
  gap: 1rem;
  padding: 1rem;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;

  h2 {
    border-radius: 4px;
    padding: 0 0.4ch;
    font-size: 2rem;
    background: linear-gradient(to right, $gradient-red);
    color: white;
  }
}

#events {
  display: grid;
  gap: 1rem;
  padding-top: 1rem;
}

.event {
  display: flex;
  border-radius: 4px;
  padding: 0.5rem;

  .title {
    text-align: right;
  }

  &.ceo {
    background: linear-gradient(to bottom right, $gradient-red);
  }

  &.extra {
    background: linear-gradient(to bottom right, $gradient-blue);
  }

  &.ort {
    background: linear-gradient(to bottom right, $gradient-green);
  }
}
