@import url("https://fonts.googleapis.com/css?family=Zilla+Slab|Fira+Sans");

$title-font: "Zilla Slab", "Times New Roman", Times, serif;

* {
  box-sizing: border-box;
}

html {
  scroll-snap-type: y mandatory;
}

body {
  margin: 0;

  font-family: "Fira Sans", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: justify;
}

header {
  scroll-snap-align: start;

  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;

  background: linear-gradient(to top right, #c069ff, #ff0039);

  text-align: center;
  font-family: $title-font;
  font-size: 2vw;

  .down {
    position: absolute;
    bottom: 1rem;
    font-size: 10rem;

    text-decoration: none;
    color: black;

    &:hover {
      background: none;
    }
  }

  @media (max-aspect-ratio: 1/1) {
    font-size: 1em;
  }
}

section {
  scroll-snap-align: start;
  display: flex;
  min-height: 50vh;

  border-bottom: 8px solid black;

  h2 {
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0;
    padding: 1em;

    background: linear-gradient(to bottom right, #ff0039, #ff9400);
    font-family: $title-font;
    font-size: 5vw;

    @media (max-aspect-ratio: 1/1) {
      font-size: 1em;
    }
  }

  .content {
    flex: 1;
    padding: 1em;
  }

  &:last-of-type {
    border-bottom: none;
  }

  &:nth-of-type(even) h2 {
    order: 1;

    @media (max-aspect-ratio: 1/1) {
      order: initial;
    }
  }

  @media (max-aspect-ratio: 1/1) {
    flex-direction: column;
    border-bottom: none;
  }
}

ul {
  list-style-type: "⇒ ";
}

a {
  color: #ff0039;
  text-decoration: underline dashed;

  transition: background 500ms cubic-bezier(0.07, 0.95, 0, 1);
  &:hover {
    background: rgba(#ff9400, 0.25);
  }
}
